# =========================
# Dependencies (root + all packages)
# =========================
node_modules/
client/node_modules/
server/node_modules/
**/next-env.d.ts

# =========================
# Next.js
# =========================
client/my-app/.next/
client//my-app/out/

# =========================
# Backend build
# =========================
server/dist/
server/build/

# =========================
# Environment files
# =========================
.env
.env.local
.env.development
.env.production

client/my-app/.env*
server/.env*

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS files
# =========================
.DS_Store

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Prisma
# =========================
server/prisma/dev.db